// Variables --------------------------/

// Fonts
$font-stack-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-color-primary: #666;

// Gutters
$sm-gutter: 10px;
$m-gutter: 20px;

// Breakpoints
$breakpoints: (
  'sm': 480px,
  'm': 768px,
  'l': 1024px,
);
