header input[type="text"]{
    width:100%;
    max-width: 500px;
    padding: $sm-gutter;
    font-size: 14pt;
    border-radius: 5px;
    border: 1px solid #ccc;
    &:focus,
    &:hover{
      outline: none;
      box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
      border: 1px solid #fff;
    }
    &::placeholder{
      color: #999;
    }
    @include  mq('m') {
      font-size: 16pt;
    }
}
